USER_EMAIL=email_login
USER_PASSWORD=senha

#comandos para rodar o projeto
#npm install dotenv 
#npx playwright install
#OBS: O arquivo .env.dotenv deve ser renomeado para .env para que as variáveis de ambiente sejam carregadas corretamente.